@import "../../styles/colors.scss";
@import "../../styles/measurements.scss";

.letter-card {
    width: 240px;
    height: 240px;
    border-radius: 240px;
    border: 1px solid $gray-mid;
    background: $gray-light;
    display: flex;
    flex-direction: row;
    align-items: center;
    // font-weight: bold;
    font-size: 72px;

    & > * {
        margin: 0 auto;
    }
}

.itallic {
    font-style: italic;
}
