@import "../../styles/colors.scss";

.footer-root {
    display: flex;
    flex-direction: row;
    font-size: small;
    color: $gray-mid;
    margin-top: 64px;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 12px;
    background: white;

    div {
        margin: 0 6px;
    }
}
