@import "styles/colors.scss";

html,
body {
    font-family: "Raleway";
    color: $gray-dark;
}

a {
    color: inherit;

    &:hover {
        color: $russia-red;
    }
}

.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-container {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin-top: 48px;
}
